@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.jumbotron {
  height: 100px;
  margin-top: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("/src/assets/img/board.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 0 .5px #ffffff,
               0 0 2.5px #ffffff,
               0 0 5px #ffffff,
               0 0 20px #ffffff;
}

.result {
  color: cornsilk;
}

.simp {
  margin-left: 38%;
  transition: -webkit-transform 2s;
  cursor: crosshair;
}

.simp:hover {
  -webkit-transform : rotate(360deg) scale(1.4);
}

.meme {
  align-items: center;
  margin-left: 24%;
  transition: 2s;
  width: 50%;
}

.meme:hover {
  transform: scale(1.2);
}

.result, .error {
  text-align: center;
  font-size: 30px;
}

#rons, #dad, #prog {
  width: 50%;
  margin-left: 280px;
}

#memebtn, #ronbtn, #ronbtn2, #dadbtn, #dadbtn2, #probtn, #probtn2 {
  color: rgb(0, 195, 255);
  transform: rotate(360deg);
  transition: transform 0.5s;
}

#ronbtn, #dadbtn, #probtn {
  margin-left: 283px;
}

#rons, #dad, #prog {
  background-color: rgb(0, 195, 255);
}

.card {
  cursor: crosshair;
  margin-top: 100px;
  margin-left: 530px;
  margin-right: 510px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 150px;
  background-color: gold;
  border-radius: 180px;
  text-align: center;
  transition: 3s;
  width: 250px;
  height: 250px;
  box-shadow: 0 0 .5px #ffffff,
               0 0 2.5px #ffffff,
               0 0 5px #ffffff,
               0 0 20px #ffffff;
} 

.card:hover {
  transform: rotate(3600deg);
}

.card1 {
  margin-top: 20px;
  margin-left: 205px;
  background-color: black;
  width: 900px;
  height: auto;
  border-radius: 15px;
  transition: 3s;
  
}

.card1:hover {
  background-color: dimgray;
}

p {
  text-align: center;
}

a {
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(255, 0, 0);
  text-shadow: 1px 1px rgb(0, 0, 0);
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
  text-decoration: none;
  font-size: 50px;
  text-shadow: 3px 3px rgb(124, 122, 122);
  cursor: crosshair;
  margin-bottom: 10%;
}

h1:hover {
  -webkit-animation: zomg 2s infinite;
  animation: zomg 2s infinite;
}

h3 {
  font-size: 30px;
  color: rgb(250, 250, 250);
}

h5 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
  color: gold;
  transition: 0.8s;
  font-size: 40px;
}

h5:hover {
  transform: scale(1.4);
}

#memebtn {
  margin-left: 43%;
  margin-top: 25px;
  margin-bottom: 25px;
}

@-webkit-keyframes zomg {
  0%, 100% { color: #7ccdea; }
  16%      { color: #0074d9; }
  32%      { color: #2ecc40; }
  48%      { color: #ffdc00; }
  64%      { color: #b10dc9; }
  80%      { color: #ff4136; }
}
@keyframes zomg {
  0%, 100% { color: #7ccdea; }
  16%      { color: #0074d9; }
  32%      { color: #2ecc40; }
  48%      { color: #ffdc00; }
  64%      { color: #b10dc9; }
  80%      { color: #ff4136; }
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.tab_container {
	width: 90%;
	margin: 0 auto;
	padding-top: 30px;
	position: relative;
}

input {
  text-align: center;
}

input, section {
  clear: both;
  padding-top: 10px;
  display: none;
}

.tab1 {
  background-image: url(/src/assets/img/wiz.jpg);
  background-size: cover;
  transition: .5s;
}

.tab1:hover {
  transform: scale(1.1);
}

.tab2 {
  background-image: url(/src/assets/img/ron.jpg);
  background-size: cover;
  transition: .5s;
}

.tab2:hover {
  transform: scale(1.1);
}

.tab3 {
  background-image: url(/src/assets/img/dad.jpg);
  background-size: cover;
  transition: .5s;
}

.tab3:hover {
  transform: scale(1.1);
}

.tab4 {
  background-image: url(/src/assets/img/zucc.jpg);
  background-size: cover;
  transition: .5s;
}

.tab4:hover {
  transform: scale(1.1);
}

.tab5 {
  background-image: url(/src/assets/img/simps.jpg);
  background-size: cover;
  transition: .5s;
}

.tab5:hover {
  transform: scale(1.1);
}

label {
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 20%;
  padding: 1.5em;
  color: #ffffff;
  cursor: crosshair;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 0 3px #fa3737,
                0 0 15px #f32323,
                0 0 30px #0f20bb,
                0 0 50px #945656;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
  padding: 20px;
  background: rgba(0, 0, 0, 0.432);
  color: rgb(255, 255, 255);
  border-bottom: 2px solid #ff0000;
  border-top: 2px solid red;
}

.tab_container .tab-content p,
.tab_container .tab-content h3, .btn, .bt, .but, input, h5, .jumbotron {
  -webkit-animation: fadeInScale 1s ease-in-out;
  -moz-animation: fadeInScale 1s ease-in-out;
  animation: fadeInScale 1s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
  transition: 0.8s;
}

.tab_container [id^="tab"]:checked + label {
  box-shadow: 0 0 10px #00d9ff,
                0 0 20px #ffffff,
                0 0 40px #ffffff,
                0 0 70px #ffffff;
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #ffffff;
}

label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

@media only screen and (max-width: 900px) {
  label span {
    display: none;
  }
  
  .tab_container {
    width: 98%;
  }
}

@keyframes fadeInScale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.no_wrap {
  text-align:center;
  color: #ffffff;
}
.link {
  text-align:center;
}

.form-control {
  margin-right: 300px;
  margin-bottom: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color:rgb(0, 247, 255);
    background-color: black;
}

.bt {
  background-color: rgba(0, 0, 0, 0); 
  border-radius: 160px;
  border: none;
}

.but {
  background-color: rgba(0, 0, 0, 0); 
  border-radius: 160px;
  border: none;
}

.outer {
  width: 160px;
  height: 160px;
  margin: 5px auto;
  position:relative;
  border-radius: 100px;
  border: solid 1px #2ff1ff;
  background-image: url("../assets/img/orb.png");
  background-size: cover;
  transition: 3s;
  opacity: .8;
}

.mask {
  position:absolute;
  top: 25px;
  width: 160px;
  height: 110px;
  overflow: hidden;
	transition: all 0.6s ease;
  opacity: .8;
}

.outer:hover .mask {
transform:rotate(270deg); 
height: 160px;
  top: 0;
  opacity: 1;
}
.ring {
  position: absolute;
  top:-26px;
  width: 160px;
  height: 160px;
  border: solid 5px #1fffff9d;
  border-radius: 100px;
	transition: all 0.6s ease;
  opacity: .8;
}

.outer:hover .ring {
  top: 0px;
  opacity: 1;
}

.outer:hover {
  transform: rotate(360deg) scale(1.4);
  box-shadow: 0 0 3px #0099ff,
                0 0 15px #00e1ff,
                0 0 30px #00d9ff,
                0 0 100px #a9f9fc;
  opacity: 1;              
}

#simpbtn, .but {
  background-image: url('/src/assets/img/donut.png');
  background-size: cover;
  height: 150px;
  width: 170px;
  margin-left: 41%;
  transition: 1s;
}

#simpbtn:hover {
  transform: scale(1.1);
}

.btn {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 30px;  
    cursor: crosshair;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    
}
.btn:hover{
    background: #ffffff;
    color: #ffffff;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
    -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

.btn:nth-child(1){
    filter: hue-rotate(270deg);
}

.btn:nth-child(2){
    filter: hue-rotate(110deg);
}

.btn span{
    position: absolute;
    display: block;
} 

.btn span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
} 

@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}

.btn span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}

.btn span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}

@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.btn span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

.table {
  background-image: url("../assets/img/table.png");
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  display: block; 
  width: 350px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
}

.bubble {
  background-image: url("../assets/img/thots2.png");
  background-size: 75%;
  background-repeat: no-repeat;
  width: 350px;
  height: 205px;
  margin-left: 15%;
  display: none;
}

.bubble p {
  padding-top: 5%;
  margin-bottom: .25%;
  color: white;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes bubble {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.randomFact {
  color: white;
  text-shadow: 1px 1px rgb(0, 153, 255);
  text-align: center;
  font-size: 11px;
  width: 190px;
  height: 98px;
  margin-left: 8%;
  /* transition: 1s; */
}

/* .randomFact:hover {
  transform: scale(1.2);
} */

.phone {
  background-image: url("../assets/img/phone.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  overflow: hidden;
  border: none;
  display: block;
  float: left;
  width: 68px;
  height: 50px;
  margin-left: 5%;
}

.phone:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#martinibtn {
  background-image: url("../assets/img/cosmo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color:transparent;
  /* overflow: hidden; */
  border: transparent;
  outline: none;
  float: left;
  width: 60px;
  height: 90px;
  margin-left: 3%;
  margin-top: -15%;
}

#beerbtn {
  display: none;
  background-image: url("../assets/img/beer.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color:transparent;
  /* overflow: hidden; */
  border: transparent;
  outline: none;
  float: left;
  width: 69px;
  height: 90px;
  margin-left: 3%;
  margin-top: -15%;
}

#winebtn {
  display: none;
  background-image: url("../assets/img/wine.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color:transparent;
  /* overflow: hidden; */
  border: transparent;
  outline: none;
  float: left;
  width: 63px;
  height: 95px;
  margin-left: 3%;
  margin-top: -18%;
}

#sodabtn {
  display: none;
  background-image: url("../assets/img/soda.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color:transparent;
  /* overflow: hidden; */
  border: transparent;
  outline: none;
  float: left;
  width: 60px;
  height: 90px;
  margin-left: 3%;
  margin-top: -15%;
}

#shotsbtn {
  display: none;
  background-image: url("../assets/img/shot.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  /* overflow: hidden; */
  border: none;
  outline: none;
  float: left;
  width: 50px;
  height: 60px;
  margin-left: 3%;
  margin-top: -4%;
}

#martini-drop, #beer-drop, #wine-drop, #soda-drop, #shot-drop {
  border: none;
}

#card2 {
  background-image: url("../assets/img/brix3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 720px;
}

.doorimg {
  background-image: url("../assets/img/door.jpg");
  background-size: cover;
  border: 5px inset rgba(0, 0, 0, 0.267);
  display: block;
  width: 250px;
  height: 500px;
  align-items: center;
  float: center;
  margin-left: 40%;
  margin-top: 95px;
}

h6 {
  font-family: cursive;
  text-align: center;
  border: 5px solid greenyellow;
  border-radius: 25px;
  box-shadow: 0 0 5px #9cfaff,
                0 0 25px #25ff1d,
                0 0 50px #008cff,
                0 0 200px rgb(252, 252, 252);
  font-size: 40px;
  background-color: black;
  margin-top: 40px;
  margin-left: 40%;
  margin-right: 40%;
  float: center;
  align-items: center;
}

.glow {
  font-size: 50px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

#there {
  opacity: 0;
}

#there:hover {
  opacity: 1;
}

.pg-1 {
  display: none;
}

.interior {
  background-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.836)),
  url('../assets/img/club2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.dropdown {
  margin-left: 60%;
  border: 0.5px dotted rgba(255, 0, 0, 0); 
}

.dropdown-content {
  text-align: center;
  display: none;
  position: absolute;
  background-color: #e3f73796;
  border-radius: 50px;
  min-width: 160px;
  z-index: 1;
  border: none;
}

.dropdown-content a {
  
  color: rgb(255, 255, 255);
  padding: 5px 5px; 
  text-decoration: none;
  display: block; 
  border: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  
}

.lounge {
  margin-top : 5%;
}

 .card3 {
  background-color: rgb(158, 153, 153);
  width: 90px;
  height: 60px;
  float: left;
  margin-right: 12%;
  display: block;
  padding-top:2px;
  border: none;
  margin-bottom: 5%;
} 

h2 {
  font-size: 20px;
}

.reciept {
  float: center;
}



